{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-style-mode" content="1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/images/logo/ttb.svg" %}">
    <title>Innovate with The Tech Buzz | Your Digital Partner
    </title>
    <link rel="stylesheet" href="{% static "assets/css/plugins/fontawesome-6.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/plugins/swiper.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/metismenu.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/plugins/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
</head>

<body class="index-one">

    <!-- header area start -->
    <header class="header-area header-one header--sticky">
        <div class="header-container-one">
            <div class="header-wrapper">
                <a href="index.html" class="logo">
                    <img src="{% static "assets/images/logo/ttb.svg" %}" alt="logo">
                </a>
                <div class="header-right">

                    <nav class="nav-area drop-down-rts">
                        <ul class="navbar-nav-1">
                            <li class="menu-item main-nav-on">
                                <a class="menu-link" href="{% url "home" %}"><span class="rolling-text">Home</span></a>
                            </li>
                            <li class="menu-item main-nav-on">
                                <a class="menu-link" href="{% url "about" %}"><span class="rolling-text">About Us</span></a>
                            </li>
                            {% comment %} <li class="menu-item main-nav-on">
                                <a class="menu-link" href="{% url "service" %}"><span class="rolling-text">Services</span></a>
                            </li> {% endcomment %}
                            <li class="menu-item main-nav-on menu-item-has-children">
                                <a href="{% url "service" %}"><span class="rolling-text">Services</span></a>
                                <ul class="sub-menu" style="display: block;">
                                    
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "digital_marketing" %}">Digital Marketing</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "website_development" %}">Website Development</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "software_development" %}">Software Development</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "app_development" %}">App Development</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "email_marketing" %}">Email Marketing</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "whatsapp_marketing" %}">WhatsApp Marketing</a></li>
                                    <li class="menu-item menu-item-home"><a class="menu-link" href="{% url "ivr_marketing" %}">IVR Marketing</a></li>
                                    
                                </ul>
                            </li>
                            
                            <li class="menu-item main-nav-on">
                                <a class="menu-link" href="{% url "contact_us" %}"><span class="rolling-text">Contact Us</span></a>
                            </li>
                        </ul>
                    </nav>

                    <div class="action-area">
                        
                        <div class="menu-btn">

                            <div class="rts-offcanvas-wrapper">
                                <div class="container-menu">
                                    <div class="action-menu">
                                        <div class="close-event"></div>
                                        <div class="open-event">
                                            <!-- <div class="text">
                        <span>Menu</span>
                        <span>Close</span>
                    </div> -->
                                            <div class="burger">
                                                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-close" data-v-649bbaab="">
                                                    <line x1="13.788" y1="1.28816" x2="1.06011" y2="14.0161" stroke="currentColor" stroke-width="1.2"></line>
                                                    <line x1="1.06049" y1="1.43963" x2="13.7884" y2="14.1675" stroke="currentColor" stroke-width="1.2"></line>
                                                </svg>
                                                <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-burger" data-v-649bbaab="">
                                                    <line x1="18" y1="0.6" y2="0.6" stroke="currentColor" stroke-width="1.2" data-v-649bbaab=""></line>
                                                    <line x1="18" y1="5.7167" y2="5.7167" stroke="currentColor" stroke-width="1.2" data-v-649bbaab=""></line>
                                                    <line x1="18" y1="10.8334" y2="10.8334" stroke="currentColor" stroke-width="1.2" data-v-649bbaab=""></line>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rts-fs-menu">
                                    <div class="rts-fs-container row">

                                        <div class="rts-fs--nav col-12 col-md-6">
                                            <ul id="primary-menu" class="navbar-nav-button">
                                                <li class="menu-item"><a href="{% url "home" %}">Home</a></li>
                                                <li class="menu-item"><a href="{% url "about" %}">About us</a></li>
                                                <li class="menu-item"><a href="{% url "service" %}">Services</a></li>
                                                <li class="menu-item"><a href="{% url "contact_us" %}">Contact Us</a></li>
                                        </div>

                                        <div class="rts-fs--contacts col-12 col-md-6">
                                            <div class="contact-inner">
                                            
                                                <div class="contact-information">
                                                    <h2 class="heading-title">Get In Touch</h2>
                                                    <div class="contact">
                                                        <ul>
                                                            <li><a href="mailto:info@thetechbuzz.in" class="mail">info@thetechbuzz.in</a></li>
                                                            <li><a href="tel:8454074989" class="number">+91 84540 74989</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="rts-social-area-one">
                                                        <ul>
                                                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->