{% extends "partial/main.html" %}
{% load static %}
{% block body %}
<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- rts banenr area start -->
        <div class="banner-area banner-style-one banner-bg-1 hero__area-3 banner__jump">
            <div class="shape-image">
                <img src="{% static "assets/images/banner/06.png" %}" alt="banner">
            </div>
            <div class="top-center-image rts-scroll-down-circle-wrapper-3">
                <a href="portfolio-one.html" class="speen-shape scroll-down-circle-3">
                    <svg class="uni-circle-text-path uk-text-secondary uni-animation-spin" viewBox="0 0 100 100" width="180" height="180">
                        <defs>
                            <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                            </path>
                        </defs>
                        <text font-size="11.75">
                            <textPath xlink:href="#circle">• The Tech Buzz • Inspire • Create • Elevate •</textPath>
                        </text>
                    </svg>
                    <i class="fa-solid fa-star-sharp"></i>
                </a>
            </div>
            <div class="container">
                <div class="row  ptb--200 ptb_sm--150">
                    <div class="col-lg-9">
                        <div class="banner-one-wrapper mt--80 mt_sm--0">
                            <h1 class="title rts_hero__title">
                                Digital Marketing,  <br>
                                SEO & Web Solutions <br><span class="border-bottom-1"> for Growth</span> <br>
                            </h1>
                            <div class="para-wraph">
                                <p class="disc hero__sub-title">
                                    Our team of experts is dedicated to helping you achieve <br> your digital goals.
                                    From website design and development <br> to SEO, PPC advertising, and social
                                    media marketing.
                                </p>
                            </div>
                            <div class="bannerJump_animation banner-jump-button rts-scroll-down-circle-wrapper-4">
                                <div class="jump__anim rts_round_btn_wrap scroll-down-circle-4">
                                    <div class="rts-mouse-move-button">
                                        <div class="btn_wrapper">
                                            <a href="{% url "service" %}" class="rts-btn-mouse-move btn-hover btn-item"><span></span> Explore
                                                Our <br>
                                                Services
                                                <i class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4">
                        <div class="vedio-button-area-banner-one">
                            <img src="assets/images/banner/05.png" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- rts banenr area end -->

        <!-- rts about area start -->
        <div class="rts-about-area-1 rts-section-gapBottom">
            <div class="shape-about-one">
                <img src="{% static "assets/images/about/05.png" %}" alt="about">
            </div>
            <div class="container-full">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-lines-wrapper">
                            <div class="grid-lines">
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="gsap-inner sec1">
                            <div class="image-wrapper-main-about mt-dec-135 rts-reveal-one">
                                <img src="{% static "assets/images/about/01.jpg" %}" alt="about" class="rts-reveal-image-one">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-split-wrap-about scrolltext-wrapper">
                    <div class="text-split scrollingText-two">
                        <h2 class="title">
                            Digital Agency Solutions <span>for Your Business Growth</span>
                            Digital Agency Solutions <span>for Your Business Growth</span>
                            Digital Agency Solutions <span>for Your Business Growth</span>
                        </h2>
                    </div>
                </div>
            </div>
            <!-- about main inner wrapper -->
            <div class="container mt--100">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="left-main-about-inner">
                            <img src="{% static "assets/images/about/02.png" %}" alt="about">
                            <div class="shape-about-two">
                                <img src="{% static "assets/images/about/06.png" %}" alt="about">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 pl--60 pl_sm--15 pt_md--50 pt_sm--30">
                        <!-- about right area start -->
                        <div class="about-area-right-start">
                            <div class="inner-about-wrapper">
                                <h2 class="title quote">Innovative Solutions
                                    for Your Business</h2>
                                <p class="disc rts-text-anim">
                                    Founded in 2015, We’re Your Trusted Digital Marketing Partner
                                    Since 2015, TTB has built a reputation for excellence in Digital Marketing, 
                                    Web Development & Custom Software. We work closely with businesses of all 
                                    sizes, crafting tailored strategies that drive results. Our client-centric 
                                    approach ensures solutions designed to maximize your business growth and 
                                    digital success.

                                </p>
                                {% comment %} <div class="progress-main-wrapper">
                                    <!-- ingle progress start -->
                                    <div class="single-progress-area-one mb--40">
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft bg--primary" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress-bottom">
                                            <p class="name">
                                                Branding
                                            </p>
                                            <span class="parcent">
                                                90%
                                            </span>
                                        </div>
                                    </div>
                                    <!-- ingle progress start -->
                                    <!-- ingle progress start -->
                                    <div class="single-progress-area-one">
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft bg--primary" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress-bottom">
                                            <p class="name">
                                                Branding
                                            </p>
                                            <span class="parcent">
                                                85%
                                            </span>
                                        </div>
                                    </div>
                                    <!-- ingle progress start -->
                                </div> {% endcomment %}
                                <div class="btn--area-left mt--50">
                                    <a href="{% url "about" %}" class="learn-more-btn">Know More<i
                                            class="fa-solid fa-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- about right area end -->
                    </div>
                </div>
            </div>
            <!-- about main inner wrapper main -->
        </div>
        <!-- rts about area end -->

        <!-- our approch area start -->
        <div class="our-approch-area-style-one rts-section-gap bg-dark-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-lines-wrapper">
                            <div class="grid-lines">
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 rts-slide-right-gsap">
                        <!-- approach area left start -->
                        <div class="approch-area-left">
                            <div class="title-area-left-wrapper">
                                <span class="pre-title">Our Approach</span>
                                <h2 class="title quote">Expertise in  <br>
                                    Digital Marketing, SEO,  <br>
                                    and Web Solutions</h2>
                            </div>
                            <p class="disc rts-text-anim">
                                At TTB, we follow a strategic, collaborative, and iterative approach to 
                                every project. Our process is designed to adapt to your specific needs, 
                                ensuring that each solution is tailored to achieve your business goals. 
                                Whether it's crafting a digital marketing strategy, designing a stunning 
                                website, or developing custom software, our team works closely with you at 
                                every step to deliver results that matter.
                            </p>
                            <a href="{% url "service" %}" class="learn-more-btn">Learn More <i
                                    class="fa-solid fa-arrow-up-right"></i></a>
                        </div>
                        <!-- approach area left end -->
                    </div>
                    <div class="col-lg-6 col-md-6 rts-slide-left-gsap mt_sm--30">
                        <!-- single approch area start -->
                        <div class="single-approach-area-start">
                            <div class="left-area">
                                <h3 class="title">Discovery</h3>
                                <p class="disc rts-text-anim">We gather key business insights to understand your goals and create personalized strategies for success.
                                </p>
                            </div>
                        </div>
                        <!-- single approch area end -->
                        <!-- single approch area start -->
                        <div class="single-approach-area-start two">
                            <div class="left-area">
                                <h3 class="title">Strategy</h3>
                                <p class="disc rts-text-anim">We craft customized digital marketing strategies based on audience insights, ensuring targeted growth for your brand.
                                </p>
                            </div>
                        </div>
                        <!-- single approch area end -->
                        <!-- single approch area start -->
                        <div class="single-approach-area-start three mb--0">
                            <div class="left-area">
                                <h3 class="title">Development</h3>
                                <p class="disc rts-text-anim">We build custom websites and web applications using the latest technologies to drive business growth.
                                </p>
                            </div>
                        </div>
                        <!-- single approch area end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- our approch area end -->

        <!-- rts service style one area start -->
        <div class="rts-section-gap rts-service-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-area">
                            <span class="sub-title">Our SERVICES</span>
                        </div>
                        <div class="title-top-service-varticle">
                            <h2 class="title">All-in-One Digital Marketing Agency</h2>
                            <p class="dsic">
                                Our digital agency process is tailored to each project and client. 
                                It’s a collaborative, iterative approach designed to deliver customized 
                                solutions that drive results and growth.
                            </p>
                            <a href="#" class="learn-more-btn">Learn More<i
                                    class="fa-solid fa-arrow-up-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-area-one-main-wrapper">

                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/15.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>Website development</h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                            Creating and building websites, landing pages, and web applications
                                            using front-end and back-end development.
                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/60.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>Software Development </h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                        Developing custom software solutions that streamline your business operations and drive efficiency.                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/61.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>App Development </h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                            Building innovative and user-friendly mobile apps tailored to your business needs for growth and success.
                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/dm.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>Digital Marketing </h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                            Crafting powerful digital marketing strategies with SEO, PPC, and social media to grow your business.
                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/63.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>Email Marketing </h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                            Designing targeted email campaigns that engage customers, boost conversions, and drive business growth.
                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>

                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/63.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>WhatsApp Marketing  </h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                            Boost engagement and conversions with WhatsApp marketing, delivering personalized campaigns directly to your audience.                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>

                            <div class="single-item-service-one">
                                <a href="service-details.html">
                                    <div class="rts-img-contaciner">
                                        <figure class="list-img">
                                            <img class="list-img" src="{% static "assets/images/product/63.jpg" %}" alt="Stream Shop">
                                        </figure>
                                    </div>
                                    <div class="list-title col-md-6">
                                        <h3>IVR Marketing  </h3>
                                    </div>
                                    <div class="list-info col-md-3">
                                        <p class="disc">
                                            Enhance customer experience and drive engagement with personalized IVR marketing campaigns tailored to your audience.                                        </p>
                                    </div>
                                    <div class="button-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                            <g>
                                                <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- rts service style one area end -->

        {% comment %} <div class="rts-use-case-area-one rts-section-gap bg-dark-1">
            <div class="container-full">
                <div class="col-lg-12">
                    <div class="main-wrapper-case-studies scrolltext-wrapper">
                        <div class="scrollingText">
                            <h2 class="title">
                                our <span>Case</span> Studies .
                                our <span>Case</span> Studies .
                                our <span>Case</span> Studies .
                                our <span>Case</span> Studies .
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <main class="carticle-slide-active">
                <div class="scroller-wrapper">
                    <div class="scroller">
                        <div class="slide">
                            <div class="container-full-150 mt--110 mt_md--50 mt_sm--30">
                                <div class="flot-right-150">
                                    <div class="use-case-area-start">
                                        <div class="content-wrapper">
                                            <span class="sub-title">Our Project</span>
                                            <h2 class="title">
                                                Modern &<br> Collective Flowers
                                            </h2>
                                            <p>
                                                Showcasing the agency's work in creating visually <br> appealing,
                                                user-friendly, and responsive websites
                                            </p>
                                            <a href="portfolio-details.html" class="learn-more-btn">VIEW CASE <i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                        <a href="portfolio-details.html" class="img-wrapper">
                                            <img class="images" src="{% static "assets/images/product/01.jpg" %}" alt="product">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- use case area end -->
                        </div>
                        <div class="slide">
                            <div class="container-full-150 mt--110 mt_md--50 mt_sm--30">
                                <div class="flot-right-150">
                                    <div class="use-case-area-start">
                                        <div class="content-wrapper">
                                            <span class="sub-title">Our Project</span>
                                            <h2 class="title">
                                                Artful &<br> Innovators Agency
                                            </h2>
                                            <p class="disc">
                                                Showcasing the agency's work in creating visually <br> appealing,
                                                user-friendly, and responsive websites
                                            </p>
                                            <a href="portfolio-details.html" class="learn-more-btn">VIEW CASE <i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                        <a href="portfolio-details.html" class="img-wrapper">
                                            <img class="images" src="{% static "assets/images/product/52.jpg" %}" alt="product">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- use case area end -->
                        </div>
                        <div class="slide">
                            <div class="container-full-150 mt--110 mt_md--50 mt_sm--30">
                                <div class="flot-right-150">
                                    <div class="use-case-area-start">
                                        <div class="content-wrapper">
                                            <span class="sub-title">Our Project</span>
                                            <h2 class="title">
                                                Fushion Wave <br>
                                                & Creations
                                            </h2>
                                            <p class="disc">
                                                Showcasing the agency's work in creating visually <br> appealing,
                                                user-friendly, and responsive websites
                                            </p>
                                            <a href="portfolio-details.html" class="learn-more-btn">VIEW CASE <i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                        <a href="portfolio-details.html" class="img-wrapper">
                                            <img class="images" src="{% static "assets/images/product/50.jpg" %}" alt="product">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- use case area end -->
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- rts pricing area start -->
        <div class="rts-pricing-area rts-section-gap position-relative">
            <div class="container-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-lines-wrapper">
                            <div class="grid-lines">
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="pricing-left-area">
                            <div class="title-area">
                                <span class="sub-title">Pricing Table</span>
                                <h2 class="title mt--30 quote">Affordable <br>
                                    Pricing Plans to <br>
                                    Meet Your Needs</h2>
                            </div>
                        </div>
                        <div class="accordion-area-start-one">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item rts-slide-up-gsap">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            How do you determine your hourly rates?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our hourly rates are based on the level of expertise required for each
                                            service, as well as the market rates for digital services in our area.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item rts-slide-up-gsap">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Do you offer any discounts or promotions?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our hourly rates are based on the level of expertise required for each
                                            service, as well as the market rates for digital services in our area.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item rts-slide-up-gsap">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do you determine your hourly rates?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our hourly rates are based on the level of expertise required for each
                                            service, as well as the market rates for digital services in our area.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 pl--100 pl_md--15 pl_sm--15 plr_md--20 plr_sm--20">
                        <div class="row g-5 rts-slide-left-gsap">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-pricing-area-start active card-tilt">
                                    <span class="pre-title">Monthly</span>
                                    <h2 class="title">$199/<span>Per Month</span></h2>
                                    <p class="dsic">
                                        Let top creative talent come to you by <br> posting your job listing on #1
                                        Design <br> Jobs Board.
                                    </p>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>Web Development</p>
                                    </div>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>SEO Optimization</p>
                                    </div>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>Content Writing</p>
                                    </div>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>Social Media Management</p>
                                    </div>
                                    <a href="#" class="pricing-btn">Choose Package</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single-pricing-area-start card-tilt">
                                    <div class="badge">
                                        <span>Best Value</span>
                                    </div>
                                    <span class="pre-title">Yearly</span>
                                    <h2 class="title">$399/<span>Per Year</span></h2>
                                    <p class="dsic">
                                        Let top creative talent come to you by <br> posting your job listing on #1
                                        Design <br> Jobs Board.
                                    </p>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>Web Development</p>
                                    </div>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>SEO Optimization</p>
                                    </div>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>Content Writing</p>
                                    </div>
                                    <div class="single-fc">
                                        <i class="fa-solid fa-check"></i>
                                        <p>Social Media Management</p>
                                    </div>
                                    <a href="#" class="pricing-btn">Choose Package</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn--area-center">
                            <a href="#" class="learn-more-btn">Try It for free<i
                                    class="fa-solid fa-arrow-up-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row brad-pricing-area-start mt--130">
                    <div class="col-lg-12">
                        <div class="pricing-wrapper-main">
                            <p>WE WORKED WITH GLOBAL LARGEST BRANDS</p>
                        </div>
                    </div>
                    <div class="col-lg-12 mt--60">
                        <div class="brand-area-style-one">
                            <a class="rts-skew-up-gsap" href="#"><img src="{% static "assets/images/brand/01.png" %}" alt="brand"></a>
                            <a class="rts-skew-up-gsap" href="#"><img src="{% static "assets/images/brand/02.png" %}" alt="brand"></a>
                            <a class="rts-skew-up-gsap" href="#"><img src="{% static "assets/images/brand/03.png" %}" alt="brand"></a>
                            <a class="rts-skew-up-gsap" href="#"><img src="{% static "assets/images/brand/04.png" %}" alt="brand"></a>
                            <a class="rts-skew-up-gsap" href="#"><img src="{% static "assets/images/brand/05.png" %}" alt="brand"></a>
                            <a class="rts-skew-up-gsap" href="#"><img src="{% static "assets/images/brand/06.png" %}" alt="brand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- rts pricing area end -->


        <!-- large-image sections starts -->
        <div class="large-image-option-start rts-section-gap bg-dark-1 position-relative rts_jump_counter__animation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-lines-wrapper">
                            <div class="grid-lines">
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                                <div class="grid-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-area-inner large-image">
                            <h2 class="title quote">Digital Expertise Action <br> <span> digital services.</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-160">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="large-video-playing grow">
                            <video autoplay muted loop playsinline preload="metadata">
                                <source src="{% static "assets/images/video/02.mp4" %}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt--120">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- cunter up main wrapper -->
                        <div class="counter-up-wrapper counter_animation">
                            <div class="counter-single counter__anim">
                                <div class="inner">
                                    <h2 class="title"><span class="counter">362</span>k</h2>
                                    <p>Project <br>
                                        Completed</p>
                                </div>
                            </div>
                            <div class="counter-single counter__anim">
                                <div class="inner">
                                    <h2 class="title"><span class="counter">300</span>M</h2>
                                    <p>Happy <br>
                                        Customers</p>
                                </div>
                            </div>
                            <div class="counter-single counter__anim">
                                <div class="inner">
                                    <h2 class="title"><span class="counter">62</span>+</h2>
                                    <p>Years <br>
                                        Experience</p>
                                </div>
                            </div>
                            <div class="counter-single counter__anim">
                                <div class="inner">
                                    <h2 class="title"><span class="counter">105</span>k</h2>
                                    <p>Awards <br>
                                        Achievement</p>
                                </div>
                            </div>
                        </div>
                        <!-- cunter up main wrapper end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- large-image sections end --> {% endcomment %}


        <!-- our trusted clienbts area start -->
        <div class="trusted-clients-area-start rts-section-gap">
            <div class="right-shape-testi">
                <img src="{% static "assets/images/testimonials/03.png" %}" alt="testimonials">
            </div>
            <div class="container-full">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-wrapper-case-studies scrolltext-wrapper">
                            <div class="scrollingText-three">
                                <h2 class="title">
                                    our <span>Trusted Client</span> Say .
                                    our <span>Trusted Client</span> Say .
                                    our <span>Trusted Client</span> Say .
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row g-5 mt--80 mt_sm--30">
                    <div class="col-lg-8 pr--100 pr_md--50 pr_sm--20">
                        <div class="swiper-testimonails-style-one-main-wrapper">
                            <div class="swiper mySwiper-testimonial-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <!-- single tesinmonials area start -->
                                        <div class="single-testimonials-main-wrapper">
                                            <div class="star-area-start">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="body">
                                                <div class="quote-img">
                                                    <img src="{% static "assets/images/testimonials/02.png" %}" alt="">
                                                </div>
                                                <p class="disc">
                                                    The group at Baroque is unimaginably committed, <br> educated,
                                                    and supportive. The completed item was <br> delightful, and
                                                    worth each penny. I would totally <br> suggest Baroque...
                                                </p>
                                                <div class="author-area">
                                                    <div class="thumbnail">
                                                        <img src="{% static "assets/images/testimonials/01.png" %}" alt="testimonials">
                                                    </div>
                                                    <div class="info-wrapper">
                                                        <h6 class="title">Adam Daniel Smith</h6>
                                                        <span>Product Designer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single tesinmonials area start -->
                                    </div>
                                </div>
                                <div class="button-area-next-prev">
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="after-effect-testi-right-img">
                            <div class="thumbnail-clients-img rts-reveal-two">
                                <img class="rts-reveal-image-two" src="{% static "assets/images/about/04.jpg" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our trusted clienbts area end -->

        {% comment %} <!-- blog area start -->
        <div class="blog-area-start rts-section-gap bg-dark-1">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="blog-left-wrapper-area-one">
                            <div class="content-wrapper">
                                <span class="sub-title">Update Blog</span>
                                <h2 class="title quote">
                                    READ UPDATED <br>
                                    JOURNAL
                                </h2>
                                <p class="disc rts-text-anim">
                                    Irna torquent accumsan aliquet a metus netus tellus <br> egestas, eu semper
                                    tortor fusce duis massa morbi <br> parturient ornare.
                                </p>
                                <a href="blog.html" class="learn-more-btn">VIEW BLOG <i
                                        class="fa-solid fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 rts-slide-left-gsap">
                        <div class="blog-single-main-wrapper style-one">
                            <a href="blog-details.html" class="thumbnail">
                                <div class="imgae-box">
                                    <img src="{% static "assets/images/blog/01.jpg" %}" alt="blog">
                                </div>
                            </a>
                            <div class="inner">
                                <div class="head">
                                    <span class="date">March 25, 2023</span>
                                    <span class="time">8 min read</span>
                                </div>
                                <div class="body">
                                    <a href="blog-details.html">
                                        <h4 class="title">Marketing Musings: Insights from a <br> Social Media
                                            Marketer</h4>
                                    </a>
                                    <a href="blog-details.html" class="rts-btn btn-primary mt--30">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 rts-slide-left-gsap">
                        <div class="blog-single-main-wrapper style-one">
                            <a href="blog-details.html" class="thumbnail">
                                <div class="imgae-box">
                                    <img src="{% static "assets/images/blog/02.jpg" %}" alt="blog">
                                </div>
                            </a>
                            <div class="inner">
                                <div class="head">
                                    <span class="date">March 25, 2023</span>
                                    <span class="time">8 min read</span>
                                </div>
                                <div class="body">
                                    <a href="blog-details.html">
                                        <h4 class="title">Social media platforms are like ecosystems with its own
                                            rules</h4>
                                    </a>
                                    <a href="blog-details.html" class="rts-btn btn-primary mt--30">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rts-section-gapTop">
                    <div class="col-lg-12">
                        <div class="card-tilt--off">
                            <div class="cta-main-wrapper-one rts-slide-up-gsap">
                                <div class="right-bg-image">
                                    <img src="{% static "assets/images/cta/02.png" %}" alt="bg-cta">
                                </div>
                                <div class="left-area">
                                    <img src="{% static "assets/images/cta/01.png" %}" alt="cta-main-wrapper">
                                </div>
                                <div class="cta-mid-area">
                                    <h3 class="title">Lat’s make <span>something <br>
                                            great</span> together</h3>
                                    <p class="disc">
                                        we are dedicated to helping businesses achieve <br> their goals through
                                        innovative digital solutions.
                                    </p>
                                </div>
                                <div class="button-area-right">
                                    <a href="#" class="rts-btn btn-white">Get Quote <i
                                            class="fa-light fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog area end --> {% endcomment %}

        {% endblock body %}