{% extends "partial/main.html" %}
{% load static %}
{% block body %}
    
    <!-- Scripts style two -->
    <!-- rts bread crumba rea start -->
    <div class="rts-breadcrumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="baread-crumb-main-wrapper pt--100">
                        <div class="inner">
                            <span class="works">The Tech Buzz </span>
                            <h1 class="title rts_hero__title">Your Digital Growth Partner</h1>
                            <span class="bg-text">About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts bread crumba rea end -->
    <!-- Scripts style two End -->

    <!-- rts about area start -->
    <div class="rts-about-area-1 rts-section-gapBottom bg-white">
        <div class="shape-about-one">
            <img src="{% static "assets/images/about/05.png" %}" alt="about">
        </div>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12">
                    <div class="grid-lines-wrapper">
                        <div class="grid-lines">
                            <div class="grid-line"></div>
                            <div class="grid-line"></div>
                            <div class="grid-line"></div>
                            <div class="grid-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-split-wrap-about scrolltext-wrapper">
                <div class="text-split scrollingText-two">
                    <h2 class="title">
                        Digital Agency Solutions <span>for Your Business</span>
                        Digital Agency Solutions <span>for Your Business</span>
                        Digital Agency Solutions <span>for Your Business</span>
                    </h2>
                </div>
            </div>
        </div>
        <!-- about main inner wrapper -->
        <div class="container mt--100">
            <div class="row">
                <div class="col-lg-5">
                    <div class="left-main-about-inner">
                        <img src="{% static "assets/images/about/02.png" %}" alt="about">
                        <div class="shape-about-two">
                            <img src="{% static "assets/images/about/06.png" %}" alt="about">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 pl--60 pl_sm--15 pt_md--50 pt_sm--30">
                    <!-- about right area start -->
                    <div class="about-area-right-start">
                        <div class="inner-about-wrapper">
                            <h2 class="title quote">Innovative Solutions
                                for Your Business</h2>
                            <p class="disc rts-text-anim">
                                Welcome to The Tech Buzz, your one-stop destination for innovative marketing 
                                solutions that empower businesses to thrive in the digital age. 
                                As a leading marketing agency, we specialize in delivering tailored 
                                strategies to help you connect, engage, and grow in an ever-evolving 
                                digital landscape.                            </p>
                                <p>
                                    At The Tech Buzz, we’re a team of passionate marketers, 
                                    tech enthusiasts, and creative thinkers dedicated to 
                                    transforming your business vision into reality. 
                                    With years of expertise in digital marketing, software development, 
                                    and communication solutions, we aim to simplify complex challenges 
                                    and deliver measurable results
                                </p>
                            <div class="btn--area-left mt--50">
                                <a href="about.html" class="learn-more-btn">Get In Touch<i class="fa-solid fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- about right area end -->
                </div>
            </div>
        </div>
        <!-- about main inner wrapper main -->
    </div>
    <!-- rts about area end -->


    <!-- rts about area three -->
    <div class="rts-about-area parallax-about  rts-section-gap about-three-bg" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <a href="#" class="pli-image-link">
                        <div class="pli-image-holder">
                            <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pli-info-overlay" is enabled on "portfolio-list". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                            <figure class="pli-image">
                                <img class="anim-image-parallax tt-lazy" src="{% static "assets/images/about/08.png" %}" data-src="{% static "assets/images/about/08.png" %}" alt="image">
                            </figure> <!-- /.pli-image -->
                        </div> <!-- /.pli-image-holder -->

                    </a> <!-- /.pli-image-link -->
                </div>
                <div class="col-lg-6">
                    <div class="about-three-right-content">
                        <div class="title-area-left-three">
                            <span>Why Choose Us?</span>
                            <h2 class="title quote">
                                Tailored Strategies, Proven Results, Innovative Solutions, and Transparent Insights.</h2>
                        </div>
                        <p class="disc rts-text-anim">
                           <li><strong>Customized Strategies:</strong> We tailor our services to meet your unique business needs.</li>
                           <li><strong>Proven Expertise:</strong> Our team has a proven track record of delivering exceptional results across industries.</li>
                            <li><strong>Innovative Solutions:</strong> We leverage the latest technologies to keep you ahead of the competition.</li>
                            <li><strong>Transparent Reporting:</strong> Stay informed with regular updates and detailed performance reports.</li>
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts about area three end -->

    <!-- rts about area -->
    
    <!-- rts about area end -->

{% endblock body %}