{% extends "partial/main.html" %}
{% load static %}
{% block body %}


    <!-- rts banner area 7 start -->
    <div class="rts-banner-area-7 rts-section-gap banner-7-bg bg_image rts-scroll-down-circle-wrapper-3">
        <!-- small start -->
        <div class="icon-area-small scroll-down-circle-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="71" height="73" viewBox="0 0 71 73" fill="none">
                <path d="M34.0968 73L33.8044 71.5365C28.8917 46.4226 25.0902 42.2077 2.4568 36.7634L1.28711 36.4707L2.4568 36.178C25.0902 30.7923 28.8917 26.5188 33.8044 1.46351L34.0968 0L34.3892 1.46351C39.3019 26.5188 43.1034 30.7923 65.7368 36.178L66.9065 36.4707L65.7368 36.7634C43.1034 42.2077 39.3019 46.4226 34.3892 71.478L34.0968 73ZM3.80194 36.4707C25.0318 41.6808 29.4181 46.4812 34.0968 69.9559C38.8341 46.5397 43.1619 41.7394 64.3917 36.4707C43.1619 31.2606 38.8341 26.4603 34.0968 3.04411C29.3596 26.4603 25.0318 31.2606 3.80194 36.4707Z" fill="white" />
                <path d="M59.7135 26.4018L59.4211 24.9383C57.9005 17.1524 56.7308 15.8059 49.7127 14.1668L48.543 13.8741L49.7127 13.5814C56.7308 11.8837 57.9005 10.5958 59.4211 2.80995L59.7135 1.34644L60.0059 2.80995C61.5265 10.5958 62.6962 11.8837 69.7143 13.5814L70.884 13.8741L69.7143 14.1668C62.6962 15.8645 61.5265 17.1524 60.0059 24.9383L59.7135 26.4018ZM50.9993 13.8741C56.8477 15.3962 58.3683 17.0353 59.7135 23.4162C61.1171 16.9767 62.5792 15.3962 68.4276 13.8741C62.5792 12.3521 61.0586 10.7129 59.7135 4.332C58.3099 10.7129 56.8477 12.2935 50.9993 13.8741Z" fill="white" />
                <path d="M7.25206 63.458L6.95964 61.9945C6.02389 57.2527 5.38056 56.5502 1.16969 55.555L0 55.2623L1.16969 54.9696C5.43904 53.9744 6.08237 53.2134 6.95964 48.5302L7.25206 47.0667L7.54448 48.5302C8.48023 53.2719 9.12356 53.9744 13.3344 54.9696L14.5041 55.2623L13.3344 55.555C9.06507 56.5502 8.42175 57.3112 7.54448 61.9945L7.25206 63.458ZM2.33937 55.2038C5.43904 56.0819 6.43328 57.0771 7.19357 60.4724C8.01235 57.0771 8.9481 56.0819 12.0478 55.2038C8.9481 54.3257 7.95387 53.3305 7.19357 49.9351C6.43328 53.3305 5.49753 54.3257 2.33937 55.2038Z" fill="white" />
            </svg>
        </div>
        <!-- small start end -->
        <!-- social text area start -->
        <div class="social-text-start">
            <ul class="social-area-text">
                <li><a href="https://www.facebook.com/thetechbuzzofficial">Facebook</a></li>
                <li><a href="https://www.youtube.com/@thetechbuzz-b7m">YouTube</a></li>
                <li><a href="https://www.instagram.com/the_tech_buzz_official/">Instagram</a></li>
                <li><a href="https://www.linkedin.com/company/the-tech-buzz-official/?viewAsMember=true">LinkedIn</a></li>
            </ul>
        </div>
        <!-- social text area end -->
        <!-- right text area stat -->
        <div class="right-text-area-start-7">
            <p class="disc">
                Hi 👋, we’re The Tech Buzz – where authentic digital 
                marketing strategies drive your business forward.</p>
        </div>
        <!-- right text area end -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-inner-7">
                        <h1 class="title text-center rts_hero__title">
                            Digital Marketing Services <br>
                            <span>Turn Clicks into </span></br>
                            <span> Connections </span>
                        </h1>
                        <div class="top-center-image rts-scroll-down-circle-wrapper-5">
                            <a href="{% url "contact_us" %}" class="speen-shape scroll-down-circle-5">
                                <svg class="uni-circle-text-path uk-text-secondary uni-animation-spin" viewBox="0 0 100 100" width="180" height="180">
                                    <defs>
                                        <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                        </path>
                                    </defs>
                                    <text font-size="11.75">
                                        <textPath xlink:href="#circle">Empowering Brands Through Innovation</textPath>
                                    </text>
                                </svg>
                                <i class="fa-solid fa-star-sharp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts banner area 7 end -->

    <!-- large-image sections starts -->
    <div class="large-image-option-start rts-section-gap position-relative rts_jump_counter__animation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-inner large-image">
                        <h2 class="title quote" style="color: #171717;">Turning Action into Results<br> <span
                                style="color: #171717;"> Expert Digital Solutions.</span> </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-160">
            <div class="row">
                <div class="col-lg-12">
                    <div class="large-video-playing grow">
                        <video autoplay muted loop playsinline preload="metadata">
                            <source src="{% static "assets/images/video/02.mp4" %}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- large-image sections end -->

    <!-- about area start -->
    <div class="about-area-7-start rts-section-gapBottom">
        <!-- about main inner wrapper -->
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="left-main-about-inner">
                        <img src="{% static "assets/images/about/02.png" %}" alt="about">
                        <div class="shape-about-two">
                            <img src="{% static "assets/images/about/06.png" %}" alt="about">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 pl--60 pl_sm--15 pt_md--50 pt_sm--30">
                    <!-- about right area start -->
                    <div class="about-area-right-start">
                        <div class="inner-about-wrapper">
                            <h2 class="title quote">Digital Expertise, </br> Real Results</h2>
                            <p class="disc rts-text-anim">
                                At The Tech Buzz, we believe in transforming your digital presence into a 
                                powerful growth engine for your business. With a focus on delivering results, 
                                our team of experts combines cutting-edge strategies with deep industry 
                                insights to create tailored digital marketing solutions that drive success. 
                                From optimizing your website for search engines (SEO) to running 
                                high-converting PPC campaigns, and crafting engaging social media content, 
                                we cover every aspect of digital marketing to ensure your brand not only 
                                survives but thrives in today’s competitive online landscape.

                                Our approach is data-driven, customer-focused, and always aligned with your unique business goals. We work closely with you to understand your challenges and opportunities, enabling us to design a strategy that maximizes your ROI and enhances your brand’s visibility. Whether you’re looking to increase traffic, boost conversions, or build lasting customer relationships, The Tech Buzz is here to help you achieve sustainable growth with digital marketing solutions that deliver real, measurable results.
                            </p>

                            <div class="btn--area-left mt--50">
                                <a href="{% url "contact_us" %}" class="learn-more-btn">Get in touch<i
                                        class="fa-solid fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- about right area end -->
                </div>
            </div>
        </div>
        <!-- about main inner wrapper main -->
    </div>
    <!-- about area end -->

<!-- our approch area start -->
<div class="our-approch-area-style-one rts-section-gap bg-dark-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="grid-lines-wrapper">
                    <div class="grid-lines">
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 rts-slide-right-gsap">
                <!-- approach area left start -->
                <div class="approch-area-left">
                    <div class="title-area-left-wrapper">
                        <h2 class="title quote">Digital Marketing That Drives Results</h2>
                    </div>
                    <p class="disc rts-text-anim">
                        In today’s fast-paced digital world, standing out online requires more than 
                        just a great product—it requires a comprehensive, well-executed digital marketing 
                        strategy. At The Tech Buzz, we specialize in creating customized digital marketing 
                        solutions that are designed to achieve measurable success. Our team combines industry 
                        expertise, creativity, and cutting-edge tools to build strategies that not only 
                        increase your visibility but also drive meaningful engagement with your target 
                        audience. From search engine optimization (SEO) and pay-per-click (PPC) campaigns to 
                        social media management and email marketing, we offer a full spectrum of services that
                         help your brand grow and connect with potential customers across multiple platforms. 
                         We focus on results—whether that’s improving your website’s ranking, increasing your 
                         leads, or maximizing your ROI. Let us transform your online presence into a powerful 
                         business asset.
                         <br>
                         At The Tech Buzz, our work doesn’t stop once a campaign is live. We believe in 
                         continuous improvement and monitor every aspect of your digital marketing efforts 
                         to ensure optimal performance. With regular data analysis, performance tracking, 
                         and strategic adjustments, we ensure your campaigns evolve to stay ahead of the 
                         competition and deliver long-term results.




                    </p>

                </div>
                <!-- approach area left end -->
            </div>
            <div class="col-lg-6 col-md-6 rts-slide-left-gsap mt_sm--30">
                <!-- single approch area start -->
                <div class="single-approach-area-start">
                    <div class="left-area">
                        <h3 class="title">Customized Campaigns</h3>
                        <p class="disc rts-text-anim">Every business is unique, so we design marketing strategies specifically tailored to your goals and target audience, ensuring maximum impact.
                        </p>
                    </div>
                </div>
                <!-- single approch area end -->
                <!-- single approch area start -->
                <div class="single-approach-area-start two">
                    <div class="left-area">
                        <h3 class="title">Multi-Channel Reach</h3>
                        <p class="disc rts-text-anim">From SEO and PPC to social media and email marketing, we utilize a variety of channels to ensure your brand engages with customers wherever they are online.
                        </p>
                    </div>
                </div>
                <!-- single approch area end -->
                <!-- single approch area start -->
                <div class="single-approach-area-start three mb--0">
                    <div class="left-area">
                        <h3 class="title">Continuous Optimization</h3>
                        <p class="disc rts-text-anim">We believe in ongoing analysis and refinement. By regularly monitoring performance and adjusting tactics, we ensure your campaigns are always evolving for the best results.
                        </p>
                    </div>
                </div>
                <!-- single approch area end -->
            </div>
        </div>
    </div>
</div>
<br>
<!-- our approch area end -->
    <!-- our working process area start -->
    <div class="working-process-area ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-area-four-w text-start">
                        <span class="pre">Our Proven 4-Step Process</span>
                        <h2 class="title quote">A Clear Path to Your Digital Success</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-0">
                <div class="col-lg-12">
                    <div class="main-process-wrapper">

                        <!-- single process area start -->
                        <div class="single-working-process-three">

                            <h5 class="title">Discovery & Strategy</h5>
                            <p class="disc">
                                We start by getting to know your business, your audience, and your goals. Through detailed consultations and market research, we develop a customized strategy tailored to meet your needs. This foundational step sets the stage for a strong, goal-oriented digital marketing plan.                            </p>
                        </div>
                        <!-- single process area end -->
                        <!-- single process area start -->
                        <div class="single-working-process-three">

                            <h5 class="title">Execution & Optimization</h5>
                            <p class="disc">
                                Once we have a clear strategy in place, we begin execution. Whether it’s launching SEO campaigns, creating targeted ads, or building content, we ensure every action aligns with your goals. We continually monitor and optimize campaigns to improve performance and ensure we're on track for success.

                            </p>
                        </div>
                        <!-- single process area end -->
                        <!-- single process area start -->
                        <div class="single-working-process-three">

                            <h5 class="title">Monitoring & Analytics</h5>
                            <p class="disc">
                                With real-time data and advanced analytics tools, we closely track the performance of all campaigns. This helps us measure what’s working and identify areas for improvement. Our focus is on continuous optimization to make sure your campaigns are delivering the best possible results.

                            </p>
                        </div>
                        <!-- single process area end -->
                        <!-- single process area start -->
                        <div class="single-working-process-three">

                            <h5 class="title">Reporting & Insights</h5>
                            <p class="disc">
                                We believe in full transparency, so we provide regular, easy-to-understand reports that show the impact of our digital marketing efforts. These insights help you make informed decisions and adjust strategies to keep your business growing.

                            </p>
                        </div>
                        <!-- single process area end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our working process area end -->

    
    <!-- our trusted clienbts area start -->
    <div class="trusted-clients-area-start rts-section-gap">
        <div class="right-shape-testi">
            <img src="{% static "assets/images/testimonials/03.png" %}" alt="testimonials">
        </div>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-wrapper-case-studies scrolltext-wrapper">
                        <div class="scrollingText-three">
                            <h2 class="title">
                                Our <span>Trusted Client</span> Say .
                                Our <span>Trusted Client</span> Say .
                                Our <span>Trusted Client</span> Say .
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="rts-testimonials-area  bg-white">
                        <div class="col-lg-12">
                            <div class="swiper-testimonials-wrapper-main-2">
                                <!-- Swiper -->
                                <div class="swiper mySwiper-testimonials-two">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- single testimonials-area -->
                                            <div class="single-testimonial-2">
        
                                                <div class="content-area mt--20">
                                                    <p class="disc">“The Tech Buzz has been instrumental in boosting our digital presence. Their tailored strategies and dedication to our growth have significantly increased our website traffic and conversions. The team is always proactive, and their data-driven approach has made a real difference to our business. Highly recommended!”</p>
                                                    <div class="author">
                                                        <p class="name">Rajesh Kumar</p>
                                                        <p class="designation">/ Innovative Solutions Pvt. Ltd.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- single testimonials-area end -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- single testimonials-area -->
                                            <div class="single-testimonial-2">
        
                                                <div class="content-area mt--20">
                                                    <p class="disc">"Working with The Tech Buzz has been an absolute game-changer. Their expertise in SEO and digital marketing has helped us rank higher on search engines, bringing in more organic traffic. They take the time to understand our needs and deliver results that truly align with our business goals.”</p>
                                                    <div class="author">
                                                        <p class="name">Neha Sharma</p>
                                                        <p class="designation">/ Shree Enterprises</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single testimonials-area end -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- single testimonials-area -->
                                            <div class="single-testimonial-2">
        
                                                <div class="content-area mt--20">
                                                    <p class="disc">"The Tech Buzz transformed our digital marketing strategy with a comprehensive plan that delivered immediate results. Their team’s commitment to excellence and ability to adapt to our needs has made a huge impact on our brand’s online growth. Their work is top-notch, and they always go the extra mile.”</p>
                                                    <div class="author">
                                                        <p class="name"> Amit Desai</p>
                                                        <p class="designation">/ TechVision Solutions</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single testimonials-area end -->
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our trusted clienbts area end -->

    <div class=" rts-brand-area rts-section-gapTop bg-dark-1">
        <div class="container">
        
            <div class="row ">
                <div class="col-lg-12">
                    <div class="card-tilt--off">
                        <div class="cta-main-wrapper-one rts-slide-up-gsap">
                            <div class="right-bg-image">
                                <img src="{% static "assets/images/cta/02.png" %}" alt="bg-cta">
                            </div>
                            <div class="left-area">
                                <img src="{% static "assets/images/cta/01.png" %}" alt="cta-main-wrapper">
                            </div>
                            <div class="cta-mid-area">
                                <h3 class="title">Lat’s make <span>something <br>
                                        great</span> together</h3>
                                <p class="disc">
                                    we are dedicated to helping businesses achieve <br> their goals through innovative
                                    digital solutions.
                                </p>
                            </div>
                            <div class="button-area-right">
                                <a href="{% url "contact_us" %}" class="rts-btn btn-white">Get Quote <i
                                        class="fa-light fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->

{% endblock body%}