{% extends "partial/main.html" %}
{% load static %}
{% block body %}

    <!-- Scripts style two -->
    <!-- rts bread crumba rea start -->
    <div class="rts-breadcrumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="baread-crumb-main-wrapper pt--100">
                        <div class="inner">
                            <span class="works">Tailored digital solutions that drive results and elevate your business.</span>
                            <h1 class="title rts_hero__title">Our Expertise, Your Growth</h1>
                            {% comment %} <span class="bg-text">Services</span> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts bread crumba rea end -->
    <!-- Scripts style two End -->

    <div class="rts-service-area three rts-section-gap service__area-3 rts-service-revel-pro">
        <div class="shape">
            <img src="{% static "assets/images/service/shape-1.png" %}" alt="shape-image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-left-three-large">
                        <h2 class="title quote" style="    color: #000000;">My Services</h2>
                        <p class="left-m-para rts-text-anim">
                            At The Tech Buzz, we provide a wide range of innovative services that are designed to help your business thrive in the digital world. Whether you're looking to create a stunning website, enhance your digital strategy, or optimize customer engagement, we've got you covered.


                        </p>
                    </div>
                </div>
            </div>
        </div>


    <!-- service three -->
    <div class="service-three-main">
        <!-- rts service area srart -->
        <div class="rts-service-area rts-section-gap">
            <div class="container">
                <div class="row g-24 rts-slide-up-gsap">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- single-service- card box one -->
                        <div class="single-service-card-box-1">
                            <span class="right-icon">01</span>
                            
                            <h5 class="title">
                                Website Development
                            </h5>
                            <!-- check area start -->
                            <div class="check-area-wrapper">
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Custom Website Development</p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Landing Page Design & Optimization</p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Responsive Design </p>
                                </div>
                                <!-- single check end -->
                            </div>
                            <!-- check area end -->
                            <a href="{% url "website_development" %}" class="plus-btn">View Details<i
                                    class="fa-regular fa-plus"></i></a>
                        </div>
                        <!-- single-service- card box one end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- single-service- card box one -->
                        <div class="single-service-card-box-1">
                            <span class="right-icon">02</span>
                            
                            <h5 class="title">
                                Software Development
                            </h5>
                            <!-- check area start -->
                            <div class="check-area-wrapper">
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Custom Software Development
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Process Automation Solutions</p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Scalable & Secure Platforms</p>
                                </div>
                                <!-- single check end -->
                            </div>
                            <!-- check area end -->
                            <a href="{% url "software_development" %}" class="plus-btn">View Details<i
                                    class="fa-regular fa-plus"></i></a>
                        </div>
                        <!-- single-service- card box one end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- single-service- card box one -->
                        <div class="single-service-card-box-1">
                            <span class="right-icon">03</span>
                            
                            <h5 class="title">
                                App Development

                            </h5>
                            <!-- check area start -->
                            <div class="check-area-wrapper">
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>iOS & Android App Development
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Custom Mobile Solutions
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Integration with Existing Systems
                                    </p>
                                </div>
                                <!-- single check end -->
                            </div>
                            <!-- check area end -->
                            <a href="{% url "app_development" %}" class="plus-btn">View Details<i
                                    class="fa-regular fa-plus"></i></a>
                        </div>
                        <!-- single-service- card box one end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- single-service- card box one -->
                        <div class="single-service-card-box-1">
                            <span class="right-icon">04</span>
                            
                            <h5 class="title">
                                Digital Marketing

                            </h5>
                            <!-- check area start -->
                            <div class="check-area-wrapper">
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>SEO & Search Engine Marketing
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Pay-Per-Click (PPC) Campaigns
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Social Media Strategy & Management
                                    </p>
                                </div>
                                <!-- single check end -->
                            </div>
                            <!-- check area end -->
                            <a href="{% url "digital_marketing" %}" class="plus-btn">View Details<i
                                    class="fa-regular fa-plus"></i></a>
                        </div>
                        <!-- single-service- card box one end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- single-service- card box one -->
                        <div class="single-service-card-box-1">
                            <span class="right-icon">05</span>
                            
                            <h5 class="title">
                                Email Marketing
                            </h5>
                            <!-- check area start -->
                            <div class="check-area-wrapper">
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Personalized Email Campaigns
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Automated Email Sequences
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Segmentation & Targeting
                                    </p>
                                </div>
                                <!-- single check end -->
                            </div>
                            <!-- check area end -->
                            <a href="{% url "email_marketing" %}" class="plus-btn">View Details<i
                                    class="fa-regular fa-plus"></i></a>
                        </div>
                        <!-- single-service- card box one end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- single-service- card box one -->
                        <div class="single-service-card-box-1">
                            <span class="right-icon">06</span>
                            
                            <h5 class="title">
                                WhatsApp Marketing

                            </h5>
                            <!-- check area start -->
                            <div class="check-area-wrapper">
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Personalized WhatsApp Campaigns
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Interactive Communication Tools
                                    </p>
                                </div>
                                <!-- single check end -->
                                <!-- single check -->
                                <div class="single-check-area">
                                    <i class="fa-solid fa-check"></i>
                                    <p>Automated Messages & Reminders
                                    </p>
                                </div>
                                <!-- single check end -->
                            </div>
                            <!-- check area end -->
                            <a href="{% url "whatsapp_marketing" %}" class="plus-btn">View Details<i
                                    class="fa-regular fa-plus"></i></a>
                        </div>
                        <!-- single-service- card box one end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- rts service area end -->

        <!-- brand area start -->
        {% comment %} <div class="rts-brand-area rts-section-gapBottom bg-dark-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-style-one">
                            <p class="title-brand">WE WORKED WITH GLOBAL LARGEST BRANDS</p>
                            <div class="brand-wrapper">
                                <a href="#"><img src="{% static "assets/images/brand/01.png" %}" alt="brand"></a>
                                <a href="#"><img src="{% static "assets/images/brand/02.png" %}" alt="brand"></a>
                                <a href="#"><img src="{% static "assets/images/brand/03.png" %}" alt="brand"></a>
                                <a href="#"><img src="{% static "assets/images/brand/04.png" %}" alt="brand"></a>
                                <a href="#"><img src="{% static "assets/images/brand/05.png" %}" alt="brand"></a>
                                <a href="#"><img src="{% static "assets/images/brand/06.png" %}" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- brand area end -->

        <!-- cta area start -->
        <div class="cta-main-wrapper-three rts-section-gapBottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cta-main-wrapper-inner bg_image rts-slide-up-gsap" style="">
                            <div class="left">
                                <h3 class="title animated fadeIn">GOT A PROJECT <br>
                                    IN MIND?</h3>
                            </div>
                            <div class="right">
                                <a href="{% url "contact_us" %}" class="rts-btn btn-primary btn-radious">Let’s Talk</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cta area end -->
    </div>
    <!-- service three end -->



{% endblock body%}