{% extends "partial/main.html" %}
{% load static %}
{% block body %}


<!-- rts banner area 7 start -->
<div class="rts-banner-area-7 rts-section-gap banner-7-bg bg_image rts-scroll-down-circle-wrapper-3">
    <!-- small start -->
    <div class="icon-area-small scroll-down-circle-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="71" height="73" viewBox="0 0 71 73" fill="none">
            <path
                d="M34.0968 73L33.8044 71.5365C28.8917 46.4226 25.0902 42.2077 2.4568 36.7634L1.28711 36.4707L2.4568 36.178C25.0902 30.7923 28.8917 26.5188 33.8044 1.46351L34.0968 0L34.3892 1.46351C39.3019 26.5188 43.1034 30.7923 65.7368 36.178L66.9065 36.4707L65.7368 36.7634C43.1034 42.2077 39.3019 46.4226 34.3892 71.478L34.0968 73ZM3.80194 36.4707C25.0318 41.6808 29.4181 46.4812 34.0968 69.9559C38.8341 46.5397 43.1619 41.7394 64.3917 36.4707C43.1619 31.2606 38.8341 26.4603 34.0968 3.04411C29.3596 26.4603 25.0318 31.2606 3.80194 36.4707Z"
                fill="white" />
            <path
                d="M59.7135 26.4018L59.4211 24.9383C57.9005 17.1524 56.7308 15.8059 49.7127 14.1668L48.543 13.8741L49.7127 13.5814C56.7308 11.8837 57.9005 10.5958 59.4211 2.80995L59.7135 1.34644L60.0059 2.80995C61.5265 10.5958 62.6962 11.8837 69.7143 13.5814L70.884 13.8741L69.7143 14.1668C62.6962 15.8645 61.5265 17.1524 60.0059 24.9383L59.7135 26.4018ZM50.9993 13.8741C56.8477 15.3962 58.3683 17.0353 59.7135 23.4162C61.1171 16.9767 62.5792 15.3962 68.4276 13.8741C62.5792 12.3521 61.0586 10.7129 59.7135 4.332C58.3099 10.7129 56.8477 12.2935 50.9993 13.8741Z"
                fill="white" />
            <path
                d="M7.25206 63.458L6.95964 61.9945C6.02389 57.2527 5.38056 56.5502 1.16969 55.555L0 55.2623L1.16969 54.9696C5.43904 53.9744 6.08237 53.2134 6.95964 48.5302L7.25206 47.0667L7.54448 48.5302C8.48023 53.2719 9.12356 53.9744 13.3344 54.9696L14.5041 55.2623L13.3344 55.555C9.06507 56.5502 8.42175 57.3112 7.54448 61.9945L7.25206 63.458ZM2.33937 55.2038C5.43904 56.0819 6.43328 57.0771 7.19357 60.4724C8.01235 57.0771 8.9481 56.0819 12.0478 55.2038C8.9481 54.3257 7.95387 53.3305 7.19357 49.9351C6.43328 53.3305 5.49753 54.3257 2.33937 55.2038Z"
                fill="white" />
        </svg>
    </div>
    <!-- small start end -->
    <!-- social text area start -->
    <div class="social-text-start">
      <ul class="social-area-text">
            <li><a href="https://www.facebook.com/thetechbuzzofficial">Facebook</a></li>
            <li><a href="https://www.instagram.com/the_tech_buzz_official/">Instagram</a></li>
            <li><a href="https://wa.me/918454074989">WhatsApp</a></li>
            <li><a href="https://www.linkedin.com/company/the-tech-buzz-official/?viewAsMember=true">LinkedIn</a></li>
        </ul>
    </div>
    <!-- social text area end -->
    <!-- right text area stat -->
    <div class="right-text-area-start-7">
        <p class="disc">
            Hi 👋, we’re The Tech Buzz – where personalized WhatsApp marketing campaigns 
            connect with your audience, drive conversions, and fuel business growth. 🚀

        </p>
    </div>
    <!-- right text area end -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-inner-7">
                    <h1 class="title text-center rts_hero__title"> 
                        WhatsApp Marketing <br> 
                        <span>Boost Engagement & Drive Results</span> 
                    </h1>
                    
                    <div class="top-center-image rts-scroll-down-circle-wrapper-5">
                        <a href="{% url "contact_us" %}" class="speen-shape scroll-down-circle-5">
                            <svg class="uni-circle-text-path uk-text-secondary uni-animation-spin" viewBox="0 0 100 100"
                                width="180" height="180">
                                <defs>
                                    <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                    </path>
                                </defs>
                                <text font-size="11.75">
                                    <textPath xlink:href="#circle">Innovative Strategies, Impactful WhatsApp Campaigns</textPath>

                                </text>
                            </svg>
                            <i class="fa-solid fa-star-sharp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts banner area 7 end -->

<!-- large-image sections starts -->
<div class="large-image-option-start rts-section-gap position-relative rts_jump_counter__animation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-area-inner large-image">
                    <h2 class="title quote" style="color: #171717;">Turning Chats into Conversions <br> 
                        <span style="color: #171717;">Expert WhatsApp Marketing Strategies</span></h2>
                    

                </div>
            </div>
        </div>
    </div>
    <div class="container-160">
        <div class="row">
            <div class="col-lg-12">
                <div class="large-video-playing grow">
                    <video autoplay muted loop playsinline preload="metadata">
                        <source src="{% static "assets/images/video/02.mp4" %}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- large-image sections end -->

<!-- about area start -->
<div class="about-area-7-start rts-section-gapBottom">
    <!-- about main inner wrapper -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="left-main-about-inner">
                    <img src="{% static "assets/images/about/whatsapp marketing.png" %}" alt="about">
                    <div class="shape-about-two">
                        <img src="{% static "assets/images/about/06.png" %}" alt="about">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 pl--60 pl_sm--15 pt_md--50 pt_sm--30">
                <!-- about right area start -->
                <div class="about-area-right-start">
                    <div class="inner-about-wrapper">
                        <h2 class="title quote">Innovative WhatsApp Solutions,</br> Exceptional Results</h2>
                        <p class="disc rts-text-anim">At The Tech Buzz, we create WhatsApp marketing strategies 
                            that not only engage your audience but also drive meaningful action. Our team blends 
                            creativity with data-driven insights to develop campaigns that spark conversations, 
                            increase customer loyalty, and promote your business growth. Whether you're looking 
                            to deliver personalized promotions, provide real-time customer support, or build 
                            lasting connections, we craft WhatsApp solutions that resonate with your target 
                            audience. <br> We take a strategic approach to WhatsApp marketing, ensuring each 
                            message is optimized for maximum engagement, timely delivery, and high response 
                            rates. From personalized content to interactive media, we design messages that 
                            capture attention and inspire action. At The Tech Buzz, we transform WhatsApp 
                            into a dynamic marketing tool that helps you connect with your audience and 
                            achieve impactful business results.</p>



                        <div class="btn--area-left mt--50">
                            <a href="{% url "contact_us" %}" class="learn-more-btn">Get in touch<i
                                    class="fa-solid fa-arrow-up-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- about right area end -->
            </div>
        </div>
    </div>
    <!-- about main inner wrapper main -->
</div>
<!-- about area end -->

<!-- our approch area start -->
<div class="our-approch-area-style-one rts-section-gap bg-dark-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="grid-lines-wrapper">
                    <div class="grid-lines">
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 rts-slide-right-gsap">
                <!-- approach area left start -->
                <div class="approch-area-left">
                    <div class="title-area-left-wrapper">
                        <h2 class="title quote">WhatsApp Marketing That Converts</h2>
                        <p class="disc rts-text-anim">At The Tech Buzz, we specialize in creating 
                            compelling WhatsApp marketing campaigns that build direct connections with 
                            your audience and drive results. Our team designs personalized, attention-grabbing 
                            messages that engage customers and prompt action. Whether it’s a product update, 
                            special promotion, or personalized customer support, we tailor each message to 
                            resonate with your target audience and boost engagement. <br> With strategic 
                            planning, optimization, and real-time interaction, we ensure your WhatsApp 
                            marketing not only stands out but also fosters long-term customer relationships. 
                            Let us help you unlock the full potential of WhatsApp as a powerful marketing tool 
                            and drive impactful business growth!</p>


                        </div>

                    <!-- approach area left end -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 rts-slide-left-gsap mt_sm--30">
                <!-- single approch area start -->
                <div class="single-approach-area-start">
                    <div class="left-area">
                        <h3 class="title">Custom WhatsApp Campaign Solutions</h3>
                        <p class="disc rts-text-anim">Every business has unique messaging needs, 
                            so we design custom WhatsApp campaigns that reflect your brand’s voice, 
                            objectives, and target audience. From personalized messages to special offers, 
                            we ensure every interaction resonates with your customers.</p>


                    </div>
                </div>
                <!-- single approch area end -->
                <!-- single approch area start -->
                <div class="single-approach-area-start two">
                    <div class="left-area">
                        <h3 class="title">Responsive & Scalable WhatsApp Campaign Design</h3>
                        <p class="disc rts-text-anim">From personalized messages to promotional offers, 
                            we create WhatsApp campaigns that adapt seamlessly across all devices. This 
                            ensures a smooth, engaging experience for your audience, whether they're 
                            viewing on mobile or desktop.</p>


                    </div>
                </div>
                <!-- single approch area end -->
                <!-- single approch area start -->
                <div class="single-approach-area-start three mb--0">
                    <div class="left-area">
                        <h3 class="title">Ongoing WhatsApp Campaign Enhancements</h3>
                        <p class="disc rts-text-anim">We focus on continuously improving our WhatsApp 
                            marketing strategies. By regularly analyzing user engagement, testing new 
                            content, and optimizing messaging, we ensure your campaigns stay relevant and 
                            effective.</p>


                    </div>
                </div>
                <!-- single approch area end -->
            </div>
        </div>
    </div>
</div>
<br>
<!-- our approch area end -->
<!-- our working process area start -->
<div class="working-process-area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-area-four-w text-start">
                    <span class="pre">Our Proven 4-Step Process</span>

                    <h2 class="title quote">A Clear Path to Your WhatsApp Marketing Success</h2>


                </div>
            </div>
        </div>
        <div class="row mt-0">
            <div class="col-lg-12">
                <div class="main-process-wrapper">

                    <!-- single process area start -->
                    <div class="single-working-process-three">
                        <h5 class="title">Discovery & Planning</h5>
                        <p class="disc">We begin by understanding your business, target audience, 
                            and specific WhatsApp marketing goals. Through detailed analysis, we craft 
                            a tailored WhatsApp marketing strategy that outlines campaign objectives, 
                            content, and audience segmentation. This step ensures your messages resonate 
                            with your audience, aligning with your business goals and driving engagement.</p>

                    </div>
                    <!-- single process area end -->
                    <!-- single process area start -->
                    <div class="single-working-process-three">

                        <h5 class="title">Design & Development</h5>
                        <p class="disc">Once we have a clear strategy in place, we move forward with 
                            crafting personalized WhatsApp messages, designing visually appealing content, 
                            and optimizing interactions for maximum engagement. Whether it's creating compelling 
                            headlines, setting up automated message sequences, or integrating advanced segmentation, 
                            every detail is tailored to your goals. Throughout this phase, we test, refine, 
                            and optimize your WhatsApp marketing campaigns to ensure they resonate with your audience and 
                            deliver measurable results.</p>


                    </div>
                    <!-- single process area end -->
                    <!-- single process area start -->
                    <div class="single-working-process-three">
                        <h5 class="title">Testing & Quality Assurance</h5>
                        <p class="disc">We use advanced testing tools and thorough quality checks 
                            to ensure your WhatsApp marketing campaigns perform flawlessly. From optimizing message delivery 
                            times and ensuring compatibility across devices to verifying user engagement and response rates, 
                            we leave no detail overlooked. Our goal is to continuously test, refine, and enhance your WhatsApp 
                            marketing efforts to guarantee the best possible results and user experience.</p>


                    </div>
                    <!-- single process area end -->
                    <!-- single process area start -->
                    <div class="single-working-process-three">
                        <h5 class="title">Maintenance & Support</h5>
                        <p class="disc">We are committed to the long-term success of your WhatsApp 
                            marketing campaigns. Our ongoing maintenance and support ensure that your 
                            campaigns are always optimized for performance. From regular updates and 
                            performance reports to technical support, we make sure your messages are 
                            delivered effectively, remain secure, and consistently engage your audience. 
                            We provide valuable insights to help you make informed decisions and keep 
                            evolving your strategies to meet your business goals.</p>


                    </div>
                    <!-- single process area end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our working process area end -->


<!-- our trusted clienbts area start -->
{% comment %} <div class="trusted-clients-area-start rts-section-gap">
    <div class="right-shape-testi">
        <img src="{% static "assets/images/testimonials/03.png" %}" alt="testimonials">
    </div>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper-case-studies scrolltext-wrapper">
                    <div class="scrollingText-three">
                        <h2 class="title">
                            Our <span>Trusted Client</span> Say .
                            Our <span>Trusted Client</span> Say .
                            Our <span>Trusted Client</span> Say .
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="rts-testimonials-area  bg-white">
            <div class="col-lg-12">
                <div class="swiper-testimonials-wrapper-main-2">
                    <!-- Swiper -->
                    <div class="swiper mySwiper-testimonials-two">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- single testimonials-area -->
                                <div class="single-testimonial-2">

                                    <div class="content-area mt--20">
                                        <p class="disc"> “The Tech Buzz has been essential in transforming our website.
                                            Their team took the time to understand our business needs and delivered a
                                            custom website that perfectly aligns with our goals. From design to
                                            functionality, the site is user-friendly, visually appealing, and performs
                                            flawlessly. The ongoing support and optimization have helped us keep the
                                            site fresh and effective. Highly recommended!” </p>
                                        <div class="author">
                                            <p class="name">Suman Sharma</p>
                                            <p class="designation">/ CEO, NextGen Enterprises</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- single testimonials-area end -->
                            </div>
                            <div class="swiper-slide">
                                <!-- single testimonials-area -->
                                <div class="single-testimonial-2">

                                    <div class="content-area mt--20">
                                        <p class="disc"> "Partnering with The Tech Buzz for our website development was
                                            the best decision we made. Their team crafted a website that not only looks
                                            great but also functions seamlessly, improving user engagement and overall
                                            performance. The ongoing support and updates ensure that we stay ahead of
                                            the competition. We couldn’t be happier with the results!" </p>
                                        <div class="author">
                                            <p class="name">Amit Verma</p>
                                            <p class="designation">/ Director, TechX Solutions</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- single testimonials-area end -->
                            </div>
                            <div class="swiper-slide">
                                <!-- single testimonials-area -->
                                <div class="single-testimonial-2">

                                    <div class="content-area mt--20">
                                        <p class="disc"> "The Tech Buzz completely transformed our website into a
                                            high-performing asset for our business. Their team delivered a
                                            user-friendly, visually stunning site that’s easy to navigate and optimized
                                            for conversions. They listened to our needs and tailored every detail to our
                                            business goals, making a significant impact on our online success." </p>
                                        <div class="author">
                                            <p class="name">Kiran Patel</p>
                                            <p class="designation">/ CEO, InnovateTech Solutions</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- single testimonials-area end -->
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div> {% endcomment %}
<!-- our trusted clienbts area end -->

<div class=" rts-brand-area rts-section-gapTop bg-dark-1">
    <div class="container">

        <div class="row ">
            <div class="col-lg-12">
                <div class="card-tilt--off">
                    <div class="cta-main-wrapper-one rts-slide-up-gsap">
                        <div class="right-bg-image">
                            <img src="{% static "assets/images/cta/02.png" %}" alt="bg-cta">
                        </div>
                        <div class="left-area">
                            <img src="{% static "assets/images/cta/01.png" %}" alt="cta-main-wrapper">
                        </div>
                        <div class="cta-mid-area">
                            <h3 class="title">Lat’s make <span>something <br>
                                    great</span> together</h3>
                            <p class="disc">
                                we are dedicated to helping businesses achieve <br> their goals through innovative
                                digital solutions.
                            </p>
                        </div>
                        <div class="button-area-right">
                            <a href="{% url "contact_us" %}" class="rts-btn btn-white">Get Quote <i class="fa-light fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area end -->

{% endblock body%}